.page-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
}

.page-title .text p {
  margin: 250px;
  font-size: 12vh;
  font-weight: 1000;
  letter-spacing: 3vh;
}
